<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>loginId</mat-label>
		    <input matInput ngDefaultControl placeholder="loginId" name="loginId" [(ngModel)]="loginId">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>password</mat-label>
		    <input matInput ngDefaultControl placeholder="password" name="password" [(ngModel)]="password">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Users</mat-label>
			<mat-select placeholder="Users" multiple [(ngModel)]="Users">
		    	<mat-option name="Users" ngDefaultControl  
		    		*ngFor="let user of users"		    		 
		    		[value]="user._id">
		      		{{user.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>ReferenceEngines</mat-label>
			<mat-select placeholder="ReferenceEngines" multiple [(ngModel)]="ReferenceEngines">
		    	<mat-option name="ReferenceEngines" ngDefaultControl  
		    		*ngFor="let referenceEngine of referenceEngines"		    		 
		    		[value]="referenceEngine._id">
		      		{{referenceEngine.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
            <button 
		    (click)="addAdmin(loginId, password, Users, ReferenceEngines)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
