<h5>ReferenceGiver List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">dateLastUpdated</td>
			<td style="text-align:center">active</td>
			<td style="text-align:center">dateTimeLastViewedExternally</td>
			<td style="text-align:center">makeViewableToUser</td>
			<td style="text-align:center">dateLastSent</td>
			<td style="text-align:center">numDaysToExpire</td>
			<td style="text-align:center">Status</td>
			<td style="text-align:center">Type</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let referenceGiver of referenceGivers" style="text-align:center">
			<td style="vertical-align:middle">{{ referenceGiver.dateLastUpdated }}</td>
			<td style="vertical-align:middle">{{ referenceGiver.active }}</td>
			<td style="vertical-align:middle">{{ referenceGiver.dateTimeLastViewedExternally }}</td>
			<td style="vertical-align:middle">{{ referenceGiver.makeViewableToUser }}</td>
			<td style="vertical-align:middle">{{ referenceGiver.dateLastSent }}</td>
			<td style="vertical-align:middle">{{ referenceGiver.numDaysToExpire }}</td>
			<td style="vertical-align:middle">{{ referenceGiver.Status }}</td>
			<td style="vertical-align:middle">{{ referenceGiver.Type }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editReferenceGiver', referenceGiver._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteReferenceGiver(referenceGiver._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
