<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>commentText</mat-label>
		    <input matInput ngDefaultControl placeholder="commentText" name="comment.commentText" [(ngModel)]="comment.commentText">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Source</mat-label>
			<mat-select placeholder="Source"   [compareWith]="compareFn"  [(ngModel)]="comment.Source">
		    	<mat-option name="comment.Source" ngDefaultControl  
		    		*ngFor="let referrer of referrers"		    		 
		    		[value]="referrer._id">
		      		{{referrer.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
            <button 
		    (click)="updateComment(comment.commentText, comment.Source)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
