<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>commentText</mat-label>
		    <input matInput ngDefaultControl placeholder="commentText" name="commentText" [(ngModel)]="commentText">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Source</mat-label>
			<mat-select placeholder="Source"  [(ngModel)]="Source">
		    	<mat-option name="Source" ngDefaultControl  
		    		*ngFor="let referrer of referrers"		    		 
		    		[value]="referrer._id">
		      		{{referrer.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
          <button 
		    (click)="addComment(commentText, Source)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
