<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="referenceEngine.name" [(ngModel)]="referenceEngine.name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-checkbox name="referenceEngine.active" ngDefaultControl [(ngModel)]="referenceEngine.active">active</mat-checkbox>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>MainQuestionGroup</mat-label>
			<mat-select placeholder="MainQuestionGroup"   [compareWith]="compareFn"  [(ngModel)]="referenceEngine.MainQuestionGroup">
		    	<mat-option name="referenceEngine.MainQuestionGroup" ngDefaultControl  
		    		*ngFor="let questionGroup of questionGroups"		    		 
		    		[value]="questionGroup._id">
		      		{{questionGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>Purpose</mat-label>
			<mat-select placeholder="Purpose" name="referenceEngine.Purpose" [(ngModel)]="referenceEngine.Purpose">
		    	<mat-option ngDefaultControl *ngFor="let Purpose of Purposes" [value]="Purpose">
		      		{{Purpose}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
               <button 
		    (click)="updateReferenceEngine(referenceEngine.name, referenceEngine.active == true ? true : false, referenceEngine.MainQuestionGroup, referenceEngine.Purpose)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
