<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
   		<mat-form-field appearance="legacy">
    		<mat-label>Question</mat-label>
			<mat-select placeholder="Question"   [compareWith]="compareFn"  [(ngModel)]="answer.Question">
		    	<mat-option name="answer.Question" ngDefaultControl  
		    		*ngFor="let question of questions"		    		 
		    		[value]="question._id">
		      		{{question.weight}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Response</mat-label>
			<mat-select placeholder="Response"   [compareWith]="compareFn"  [(ngModel)]="answer.Response">
		    	<mat-option name="answer.Response" ngDefaultControl  
		    		*ngFor="let responseOption of responseOptions"		    		 
		    		[value]="responseOption._id">
		      		{{responseOption.responseText}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
            <button 
		    (click)="updateAnswer(answer.Question, answer.Response)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
