<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>firstName</mat-label>
		    <input matInput ngDefaultControl placeholder="firstName" name="user.firstName" [(ngModel)]="user.firstName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>lastName</mat-label>
		    <input matInput ngDefaultControl placeholder="lastName" name="user.lastName" [(ngModel)]="user.lastName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>emailAddress</mat-label>
		    <input matInput ngDefaultControl placeholder="emailAddress" name="user.emailAddress" [(ngModel)]="user.emailAddress">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-checkbox name="user.active" ngDefaultControl [(ngModel)]="user.active">active</mat-checkbox>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Comments</mat-label>
			<mat-select placeholder="Comments" multiple  [compareWith]="compareFn"  [(ngModel)]="user.Comments">
		    	<mat-option name="user.Comments" ngDefaultControl  
		    		*ngFor="let comment of comments"		    		 
		    		[value]="comment._id">
		      		{{comment.commentText}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>password</mat-label>
		    <input matInput ngDefaultControl placeholder="password" name="user.password" [(ngModel)]="user.password">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>resumeLinkUrl</mat-label>
		    <input matInput ngDefaultControl placeholder="resumeLinkUrl" name="user.resumeLinkUrl" [(ngModel)]="user.resumeLinkUrl">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>linkedInUrl</mat-label>
		    <input matInput ngDefaultControl placeholder="linkedInUrl" name="user.linkedInUrl" [(ngModel)]="user.linkedInUrl">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>ReferenceProviders</mat-label>
			<mat-select placeholder="ReferenceProviders" multiple  [compareWith]="compareFn"  [(ngModel)]="user.ReferenceProviders">
		    	<mat-option name="user.ReferenceProviders" ngDefaultControl  
		    		*ngFor="let referrer of referrers"		    		 
		    		[value]="referrer._id">
		      		{{referrer.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>RefererGroups</mat-label>
			<mat-select placeholder="RefererGroups" multiple  [compareWith]="compareFn"  [(ngModel)]="user.RefererGroups">
		    	<mat-option name="user.RefererGroups" ngDefaultControl  
		    		*ngFor="let referrerGroup of referrerGroups"		    		 
		    		[value]="referrerGroup._id">
		      		{{referrerGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>ReferenceReceivers</mat-label>
			<mat-select placeholder="ReferenceReceivers" multiple  [compareWith]="compareFn"  [(ngModel)]="user.ReferenceReceivers">
		    	<mat-option name="user.ReferenceReceivers" ngDefaultControl  
		    		*ngFor="let referrer of referrers"		    		 
		    		[value]="referrer._id">
		      		{{referrer.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>ReferenceGroupLinks</mat-label>
			<mat-select placeholder="ReferenceGroupLinks" multiple  [compareWith]="compareFn"  [(ngModel)]="user.ReferenceGroupLinks">
		    	<mat-option name="user.ReferenceGroupLinks" ngDefaultControl  
		    		*ngFor="let referenceGroupLink of referenceGroupLinks"		    		 
		    		[value]="referenceGroupLink._id">
		      		{{referenceGroupLink.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                               <button 
		    (click)="updateUser(user.firstName, user.lastName, user.emailAddress, user.active == true ? true : false, user.Comments, user.password, user.resumeLinkUrl, user.linkedInUrl, user.ReferenceProviders, user.RefererGroups, user.ReferenceReceivers, user.ReferenceGroupLinks)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
